{% extends 'superadmin/layout/accounts_base.html' %}

{% block content %}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <h1><i style="border: none">
                    <img style="width: 10%" src="{{ request.COOKIES.company_img }}"></i>
                </h1>

                <form method="POST" action="{% url 'forget_password_send_email' %}">
                    {% csrf_token %}
                    <h1>{{ request.COOKIES.company_name }}</h1>
                    <div>
                        <input type="email" class="form-control" name="email" placeholder="Enter your Email" required=""/>
                    </div>
                   
                    <div style="text-align: center">

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <div class="clearfix"></div>

                    </div>


                    <div class="separator">
                        {% comment %} <p class="change_link">New to site?
                            <a href="{% url 'register_page' %}" class="to_register"> Create Account </a>
                        <div class="clearfix"></div>
                        <a href="#signup" class="to_register"> Lost your password? </a>
                        </p> {% endcomment %}

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <p>©2023 All Rights Reserved.</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>


    </div>
{% endblock %}