{% extends 'superadmin/layout/accounts_base.html' %}

{% block content %}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <h1><i style="border: none">
                    <img style="width: 10%" src="{{ request.COOKIES.company_img }}"></i>
                </h1>
                {% if username == "done"%}


             <p>Email has beeen send to your account please check your Email account</p>

                {%else%}
                <form method="POST" action="{% url 'update_password' %}">
                    {% csrf_token %}
                    <h1>{{ request.COOKIES.company_name }}</h1>
                    <div>
                        <input type="password" class="form-control" name="password1" placeholder="New Password" required=""/>
                    </div>
                    <div>
                        <input type="password" class="form-control" name="password2" placeholder="Re Enter password" required=""/>
                    </div>
                    <div>
                        <input type="hidden" class="form-control" name="username" value={{username}}  />
                    </div>
                   
                    <div style="text-align: center">

                        <button type="submit" class="btn btn-primary">Update</button>
                        <div class="clearfix"></div>

                    </div>


                    <div class="separator">
                        {% comment %} <p class="change_link">New to site?
                            <a href="{% url 'register_page' %}" class="to_register"> Create Account </a>
                        <div class="clearfix"></div>
                        <a href="#signup" class="to_register"> Lost your password? </a>
                        </p> {% endcomment %}

                        <div class="clearfix"></div>
                        <br/>
                        
                        <div>
                            <p>©2023 All Rights Reserved.</p>
                        </div>
                    </div>
                </form>
                {%endif%}
            </section>
        </div>


    </div>
{% endblock %}