<div class="top_nav">
    <div class="nav_menu">
        <div class="nav_left mt-1 ml-5"> 
            <label class="fa-2x">
                <a href="{% url 'user:dashboard' %}">
                <span class="text-light-gray " style="color: cadetblue;">TimeTable </span>
              </a>
             </label>

        </div>
        <div class="nav_right mt-1">

            {% if request.user.email %}

            <a href="{% url 'user:show_timetable' %}">
                <button type="button" class="btn btn-danger btn-lg" style="background-color: cadetblue;">View TimeTable</button>
                </a>
            <a href="{% url 'logout' %}">
                <button type="button" class="btn btn-danger btn-lg" style="background-color: cadetblue;">Logout</button>
                </a>
            
              {% else %}
              <a href="{% url 'login' %}">
                <button type="button" class="btn btn-danger btn-lg" >Login</button></a>
                <a href="{% url 'register_page' %}">
                <button type="button" class="btn btn-danger btn-lg">Signup</button>
                </a>


              {% endif %}
            

        </div>
       
      
       


      
    </div>
</div>
  
  
  
  
  